.App {
  text-align: center;
}

.recipeCard{
  height: 635px;
  margin: 20px 0px;
}

.card-text{
  vertical-align: bottom;
}

li{
  text-align: left;
}

.link{
  position: absolute;
  bottom: 15px;
  left: 18px;
}
.link:hover{
  background:black;
  color: white;
}