body {
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}